Bash Patches/
CalienteTools/
DialogueViews/
INI Tweaks/
LSData/
Music/
Readmes/
shadersfx/
SKSE/
Strings/
TES5Edit Backups/
Video/

Interface/SkyUI/
Interface/bartermenu.swf
Interface/containermenu.swf
Interface/craftingmenu.swf
Interface/credits.txt
Interface/fontconfig.txt
Interface/fonts_console.swf
Interface/fonts_ru.swf
Interface/hudmenu.swf
Interface/inventorymenu.swf
Interface/levelupmenu.swf
Interface/Translate_RUSSIAN.txt

Meshes/Actors/
Meshes/DLC01/
Meshes/Effects/
Meshes/weapons/

Scripts/Source

Scripts/activemagiceffect.pex
Scripts/actor.pex
Scripts/actorbase.pex
Scripts/actorvalueinfo.pex
Scripts/alias.pex
Scripts/ammo.pex
Scripts/apparatus.pex
Scripts/armor.pex
Scripts/armoraddon.pex
Scripts/art.pex
Scripts/book.pex
Scripts/cell.pex
Scripts/colorcomponent.pex
Scripts/colorform.pex
Scripts/combatstyle.pex
Scripts/constructibleobject.pex
Scripts/defaultobjectmanager.pex
Scripts/enchantment.pex
Scripts/equipslot.pex
Scripts/faction.pex
Scripts/flora.pex
Scripts/form.pex
Scripts/formlist.pex
Scripts/formtype.pex
Scripts/game.pex
Scripts/gamedata.pex
Scripts/headpart.pex
Scripts/ingredient.pex
Scripts/input.pex
Scripts/keyword.pex
Scripts/leveledactor.pex
Scripts/leveleditem.pex
Scripts/leveledspell.pex
Scripts/magiceffect.pex
Scripts/math.pex
Scripts/modevent.pex
Scripts/netimmerse.pex
Scripts/objectreference.pex
Scripts/outfit.pex
Scripts/perk.pex
Scripts/potion.pex
Scripts/quest.pex
Scripts/race.pex
Scripts/scroll.pex
Scripts/shout.pex
Scripts/SKI_ConfigBase.pex
Scripts/SKI_ConfigManager.pex
Scripts/SKI_PlayerLoadGameAlias.pex
Scripts/SKI_QuestBase.pex
Scripts/skse.pex
Scripts/soulgem.pex
Scripts/sound.pex
Scripts/sounddescriptor.pex
Scripts/spawnertask.pex
Scripts/spell.pex
Scripts/stringutil.pex
Scripts/textureset.pex
Scripts/treeobject.pex
Scripts/ui.pex
Scripts/uicallback.pex
Scripts/utility.pex
Scripts/weapon.pex
Scripts/weather.pex
Scripts/wornobject.pex

Sound/fx/npc/
Sound/fx/__folder_managed_by_vortex
Sound/Voice/Processing/

Textures/Actors/
Textures/Blood/
Textures/DLC01/
Textures/ImpactDecals/
Textures/Weapons/

Archive.exe

Bashed Patch, 0.esp

Dawnguard.esm
Dawnguard.bsa

Dragonborn.esm
Dragonborn.bsa

HearthFires.esm
HearthFires.bsa

Skyrim.esm
Skyrim - Animations.bsa
Skyrim - Interface.bsa
Skyrim - Meshes.bsa
Skyrim - Misc.bsa
Skyrim - Shaders.bsa
Skyrim - Sounds.bsa
Skyrim - Textures.bsa
Skyrim - Voices.bsa

SkyUI.esp
SkyUI.bsa

Update.esm
Update.bsa
